@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$background-color: #0C0C14;
$surface-color-1: #171A21;
$surface-color-2: #1F2229;
$border-color-1: #3E4452;
$border-color-2: #6A7285;
$text-color: #FFFFFF;
$scrollbar-color: #2B3347;
$primary-color: #41BFD9;

@mixin flex-row($justify: flex-start, $align: stretch, $gap: 0) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin flex-column($justify: flex-start, $align: stretch, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin top-hover($hover-top: -0.3rem, $hover-bg: $surface-color-2) {
    transition: top 0.2s ease-in, background-color 0.2s ease-in;

    &:hover {
        top: $hover-top;
        background-color: $hover-bg;
    }
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color;
}

::-webkit-scrollbar-track {
    background-color: $background-color;
    border: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    color: $text-color;
    line-height: 1.5;
}

body {
    overflow-x: hidden;
    background-color: $background-color;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

h2 {
    font-size: 2.0rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

h6 {
    font-size: 1.0rem;
    font-weight: 500;
}

a {
    color: $text-color;
    text-decoration: none;
}

.finisher-header {
    position: fixed;
    width: 105%;
    height: 105vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}

main#main {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#banner {
    @include flex-row(null, center, 2rem);
    margin: 6vh 0;

    .banner-image {
        width: 16rem;
        height: 16rem;
        border-radius: 1rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center center;
        }
    }

    .banner-text {
        @include flex-column($justify: center);
        flex-grow: 1;

        div {
            display: inline-flex;
            align-items: center;
            margin-bottom: 0.8rem;
            font-size: 1.4rem;

            svg {
                width: 2rem;
                height: 2rem;
                fill: $text-color;
            }
        }

        > p {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}

#showcase {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 1.5rem;

    .box {
        @include flex-column($gap: 1rem);
        padding: 1.5rem;
        border: 1px solid $border-color-1;
        border-radius: 1.5rem;
        background-color: $surface-color-1;

        &:hover {
            border-color: $primary-color;
            transition: border-color 0.4s ease-in-out; 
        }

        .box-head {
            @include flex-row(null, center, 1.2rem);

            svg {
                width: 2rem;
                height: 2rem;
                fill: $text-color;
            }
        }

        .box-body {
            font-size: 1.6rem;
        }
    }
}

#about {
    grid-column: 1 / 4;
    grid-row: 1 / 4;

    .box-body > p {
        text-align: justify;
    }
}

#timeline {
    grid-column: 4 / 6;
    grid-row: 1 / 2;

    .box-body {
        position: relative;
        padding-left: 3.2rem;

        .borderline {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            height: calc(100% - 1.6rem);
            border-left: 1px solid $border-color-1;
        }

        .content {
            @include flex-column();
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            > p {
                font-weight: 700;
            }

            > div {
                @include flex-row(space-between, center, 1rem);
                font-size: 1.4rem;

                p:first-child {
                    width: 80%;
                }

                p:last-child {
                    flex-grow: 1;
                    border: 1px solid $border-color-1;
                    border-radius: 3rem;
                    padding: 0.1rem;
                    text-align: center;
                }
            }
        }
    }
}

#skills {
    grid-column: 4 / 6;
    grid-row: 2 / 4;

    .box-body {
        @include flex-column($gap: 1.5rem);

        > div {
            @include flex-column($gap: 0.5rem);
            
            > p {
                font-weight: 500;
            }

            > div {
                @include flex-row($gap: 0.5rem);
                flex-wrap: wrap;
                margin-bottom: 1rem;
    
                &:last-child {
                    margin-bottom: 0;
                }
    
                span {
                    padding: 0 0.6rem;
                    border: 1px solid $border-color-2;
                    border-radius: 0.4rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.6;
                }
            }
        }
    }
}

#free-time {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    .box-body > p {
        text-align: justify;
    }
}

#projects {
    grid-column: 3 / 6;
    grid-row: 4 / 5;

    .box-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(80px, auto);
        gap: 1rem;
    
        > div.project {
            border: 1px solid $border-color-1;
            border-radius: 1rem;
        }
        
        > a.project {
            border: 1px solid $border-color-1;
            border-radius: 1rem;
        }
        
        > .project {
            @include flex-column($gap: 0.5rem);
            position: relative;
            top: 0;
            padding: 1rem;
            color: $text-color;
            @include top-hover();

            .project-desc {
                font-size: 1.4rem;
                line-height: 1.25;
            }

            .tech {
                @include flex-row();
                flex-wrap: wrap;
                gap: 0.5rem;
                margin-top: 0.5rem;

                * {
                    padding: 0 0.4rem;
                    border: 1px solid $border-color-2;
                    border-radius: 0.4rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.6;
                }
            }
        }
    }
}

#connect {
    grid-column: 1 / 6;
    grid-row: 5 / 6;

    .box-body {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 1rem;

        .contacts-1 {
            @include flex-column(center, center, 0.5rem);
            grid-column: 1 / 2;
            
            > a {
                width: 80%;
                padding: 1rem;
                border: 1px solid $border-color-1;
                border-radius: 1rem;
                @include top-hover($hover-top: 0);


                > h3 {
                    font-weight: 400;
                }

                > p {
                    font-size: 1.6rem;
                    font-weight: 600;
                }
            }
        }
        
        .contacts-2 {
            @include flex-column($gap: 1rem);
            grid-column: 2 / 3;
            
            > h3 {
                text-align: center;
            }

            > div {
                @include flex-row(center, center, 1rem);

                a {
                    @include flex-column(null, center, 1rem);
                    position: relative;
                    top: 0;
                    width: 20%;
                    padding: 1.5rem 1rem 1rem 1rem;
                    border: 1px solid $border-color-1;
                    border-radius: 1rem;
                    @include top-hover();

                    svg {
                        width: 3.2rem;
                        height: 3.2rem;
                        fill: $text-color;
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-top: 5vh;
    border-top: 1px solid $border-color-1;
    padding: 2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
}

.h {
    top: 0.4rem;
    opacity: 0 !important;
    visibility: hidden !important;
    transition:
        top 0.6s ease-in-out, 
        opacity 0.6s ease-in-out;
}

.v {
    top: 0rem;
    opacity: 1 !important;
    visibility: visible !important;
    transition:
        top 0.6s ease-in-out, 
        opacity 0.6s ease-in-out;
}