// Import base styles and mixins
@import 'base/variables';
@import 'base/base';
@import 'mixin/mixin';

// Finisher header styles
.finisher-header {
    position: fixed;
    width: 105%;
    height: 105vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    pointer-events: none;
    user-select: none;
}

// Main content styles
main#main {
    position: relative;
    max-width: 98rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

// Banner section styles
#banner {
    @include flex-row(null, center, 2rem);
    margin-top: clamp(2rem, 2vh, 3rem);
    margin-bottom: clamp(4rem, 4vh, 5rem);

    .banner-image {
        max-width: 16rem;
        height: auto;
        border-radius: 1rem;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center center;
        }
    }

    .banner-text {
        @include flex-column($justify: center);
        flex-grow: 1;

        div {
            display: inline-flex;
            align-items: center;
            margin-bottom: 0.8rem;
            font-size: 1.4rem;

            svg {
                width: 2rem;
                height: 2rem;
                fill: $text-color;
            }
        }

        > p {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }

    @media (max-width: $breakpoint-xs) {
        @include flex-column(null, center, 2rem);

        .banner-text {
            align-items: center;
        }
    }
}

// Showcase section styles
#showcase {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 1.5rem;

    .box {
        @include flex-column($gap: 1rem);
        padding: 1.5rem;
        border: 1px solid $border-color-1;
        border-radius: 1.5rem;
        background-color: $surface-color-1;
        
        .box-head {
            @include flex-row(null, center, 1.2rem);

            svg {
                width: 2rem;
                height: 2rem;
                fill: $text-color;
            }
        }
        
        .box-body {
            font-size: 1.6rem;
        }

        &:hover {
            border-color: $primary-color;
            transition: border-color 0.4s ease-in-out; 
        }
    }

    @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;

        @each $id, $position in $showcase-md-order {
            ##{$id} {
                grid-column: 1;
                grid-row: $position;
            }
        }
    }
}

// About box styles
#about {
    grid-column: 1 / 4;
    grid-row: 1 / 4;

    .box-body > p {
        text-align: justify;
    }
}

// Timeline box styles
#timeline {
    grid-column: 4 / 6;
    grid-row: 1 / 2;

    .box-body {
        position: relative;
        padding-left: 3.2rem;

        .borderline {
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            height: calc(100% - 1.6rem);
            border-left: 1px solid $border-color-1;
        }

        .content {
            @include flex-column();
            position: relative;
            margin-bottom: 1rem;
            
            .circle {
                position: absolute;
                top: 1.2rem;
                left: -2.1rem;
                transform: translate(-50%, -50%);
                width: 1.2rem;
                height: 1.2rem;
                border: 2px solid $border-color-1;
                border-radius: 1rem;
                background-color: $background-color;
                transition: background-color 0.2s ease-out;
            }
            
            > p {
                font-weight: 700;
            }

            > div {
                @include flex-row(space-between, center, 1rem);
                
                p:first-child {
                    font-size: 1.4rem;
                    width: 80%;
                }

                p:last-child {
                    width: clamp(3rem, 20%, 4rem);
                    border: 1px solid $border-color-1;
                    border-radius: 3rem;
                    padding: 0.2rem 0rem;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
            
            &:hover {
                .circle {
                    background-color: $primary-color;
                }
            }
        }
    }
}

// Skills box styles
#skills {
    grid-column: 4 / 6;
    grid-row: 2 / 4;

    .box-body {
        @include flex-column($gap: 1.5rem);

        > div {
            @include flex-column($gap: 0.5rem);
            
            > p {
                font-weight: 500;
            }

            > div {
                @include flex-row($gap: 0.5rem);
                flex-wrap: wrap;
                margin-bottom: 1rem;
    
                &:last-child {
                    margin-bottom: 0;
                }
    
                span {
                    padding: 0 0.6rem;
                    border: 1px solid $border-color-2;
                    border-radius: 0.4rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.6;
                }
            }
        }
    }
}

// Free-time box styles
#free-time {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    .box-body > p {
        text-align: justify;
    }
}

// Projects box styles
#projects {
    grid-column: 3 / 6;
    grid-row: 4 / 5;

    .box-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(80px, auto);
        gap: 1rem;
    
        > div.project {
            border: 1px solid $border-color-1;
            border-radius: 1rem;
        }
        
        > a.project {
            border: 1px solid $border-color-1;
            border-radius: 1rem;
        }
        
        > .project {
            @include flex-column($gap: 0.5rem);
            position: relative;
            top: 0;
            padding: 1rem;
            color: $text-color;
            @include top-hover();

            .project-desc {
                font-size: 1.4rem;
                line-height: 1.25;
            }

            .tech {
                @include flex-row();
                flex-wrap: wrap;
                gap: 0.5rem;
                margin-top: 0.5rem;

                * {
                    padding: 0 0.4rem;
                    border: 1px solid $border-color-2;
                    border-radius: 0.4rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.6;
                }
            }
        }
    }
}

// Connect box styles
#connect {
    grid-column: 1 / 6;
    grid-row: 5 / 6;

    .box-body {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        gap: 1rem;

        .contacts-1 {
            @include flex-column(center, center, 0.5rem);
            grid-column: 1;
            grid-row: 1;
            
            > a {
                width: clamp(25rem, 80%, 28rem);
                padding: 1rem;
                border: 1px solid $border-color-1;
                border-radius: 1rem;
                @include top-hover($hover-top: 0);

                > h3 {
                    font-weight: 400;
                }

                > p {
                    font-size: 1.6rem;
                    font-weight: 600;
                }
            }
        }
        
        .contacts-2 {
            @include flex-column($gap: 1rem);
            grid-column: 2;
            grid-row: 1;
            
            > h3 {
                text-align: center;
            }

            > div {
                @include flex-row(center, center, 1rem);

                a {
                    @include flex-column(center, center, 1rem);
                    width: clamp(8.4rem, 20%, 9.8rem);
                    height: clamp(88px, 8.8rem, 92px);
                    border: 1px solid $border-color-1;
                    border-radius: 1rem;
                    @include top-hover();

                    svg {
                        width: 3.2rem;
                        height: 3.2rem;
                        fill: $text-color;
                    }
                }
            }
        }
        
        @media (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
            
            .contact-1 {
                grid-column: 1;
                grid-row: 1;
            }

            .contacts-2 {
                grid-column: 1;
                grid-row: 2;

                > div {
                    @include flex-row(center, center, 1rem);
                    flex-wrap: wrap;
                }
            }
        }
    }
}

// Footer styles
footer {
    position: relative;
    width: clamp(60rem, 50%, 96rem);
    max-width: 96rem;
    margin: 0 auto;
    margin-top: clamp(2rem, 2vh, 3rem);
    margin-bottom: clamp(2rem, 2vh, 3rem);
    border-top: 1px solid $border-color-1;
    padding-top: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;

    @media (max-width: $breakpoint-md) {
        width: clamp(25rem, 80%, 60rem);
    }
}